<div class="container mt-5">

  <h3 class="mb-4">Course Details</h3>

  <div class="card p-3 mb-3">
    <h5>Course: Mathematics</h5>
    <p><strong>Teacher:</strong> Mr. Ali</p>
    <hr>
    <p><strong>Note:</strong> 15 / 20</p>
    <p><strong>Évaluation:</strong> Bon travail, continue comme ça.</p>
  </div>

  <div class="card p-3 mb-3">
    <h5>Course: Physics</h5>
    <p><strong>Teacher:</strong> Mr. Sami</p>
    <hr>
    <p><strong>Note:</strong> 18 / 20</p>
    <p><strong>Évaluation:</strong> Excellent travail, bien compris.</p>
  </div>

  <div class="card p-3 mb-3">
    <h5>Course: English</h5>
    <p><strong>Teacher:</strong> Ms. Lina</p>
    <hr>
    <p><strong>Note:</strong> 14 / 20</p>
    <p><strong>Évaluation:</strong> Bon effort, à améliorer en grammaire.</p>
  </div>


</div>
